.secretsanta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(#de31aa6b, #d136310a),
    url("https://images.pexels.com/photos/246127/pexels-photo-246127.jpeg?auto=compress&cs=tinysrgb&w=1280&h=1920&dpr=1");
  background-position: center;
  background-size: cover;

  h1 {
    font-size: 56px;
    font-weight: bold;
    color: white;
    text-align: center;

    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  p {
    color: white;
    padding: 16px;
    font-weight: bold;
    text-align: center;
  }

  .password-area {
    display: flex;
    flex-direction: row;
    gap: 10px;
    z-index: 10;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    input {
      font-size: 24px;
      border: none;
      height: 40px;
      text-align: center;
    }

    button {
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      font-size: 18px;
      font-weight: bold;
      padding: 10px;
      width: 80px;
      height: 42px;
      border-radius: 10px;
      color: rgb(255, 255, 255);
      background-color: rgb(79, 166, 253);
      text-transform: uppercase;
    }
  }

  .options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;

    button {
      border: none;
      font-size: 18px;
      font-weight: bold;
      padding: 10px;
      width: 250px;
      height: 70px;
      border-radius: 10px;
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      // text-shadow: -1px -1px 0 rgb(59, 42, 18), 1px -1px 0 rgb(89, 70, 32),
      //   -1px 1px 0 rgb(73, 64, 31), 1px 1px 0 #000;
      background-color: rgb(172, 160, 93);
    }
  }
}
